.expandable-tags {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    [col-start] minmax(100px, 1fr) [col-end]
  );
}

.expandable-container {
  display: grid;
  grid-template-columns: 1fr auto auto;
}
